#about-maps{
    background-color: #588157
}

#staff-container{
    background-color: #a3b18a;
}

.card {
    color: #dad7cd;
    background-color: #3a5a40;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

#staff-container h1{
 text-align: center;
}

#motorsag-pic {
    overflow: hidden;
}

.row-history{
    background-color:#3a5a40;
    color:#dad7cd;
}

a[href^="mailto:"] {
    color: #dad7cd;
    text-decoration: none; 
}

a[href^="mailto:"]:hover {
    color: #ffffff;
    text-decoration: underline; 
}

iframe {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;  
    max-width: 600px; 
    height: 450px; 
    border: none;
    border-radius: 6px; 
}

@media (min-width: 640pxpx) {iframe{
    width:600px;
    height: 450px;
}}

/* #dad7cd
#a3b18a
#588157
#3a5a40
#344e41 */

