html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.body-custom {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    
}

.top-container {
    width : 100%;
    min-height: 500px;
    background-image: url('../img/forest.avif'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
}


