html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.body-custom {
    background-color: #a3b18a;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
}

.main{
    flex: 1;
}

.navbar-custom 
{
  background-color: #a3b18a;
};

.nav-underline{
  color:#dad7cd;
}

.nav-underline .nav-link 
{
  color: #ffffff;
  font-family: 'Oswald', sans-serif;

}

.nav-underline .nav-link.active 
{
  font-weight: normal;
}

.nav-underline .nav-link:hover{
  border-bottom-color: #344e41 ;
}

.nav-underline .nav-link.active:hover{
  border-bottom-color: #ffffff ;
}

.navbar .navbar-brand 
{
  height: 40px;
  width: 300px;
}

@media (max-width: 480px){
  .navbar-brand{
    display: none;
  }
}
  
.footer-custom {
  background-color: #344e41;
  text-align: center;
  padding: 10px;
  min-height: 300px;
}

.footer-custom-text {
    color: #dad7cd;
    overflow: hidden;  
}

.footer-logo {
    width: 318px;
    height: 40px;
}

#cartOffCanvas {
  background-color: #a3b18a
}

.offcanvas-header{
  background-color: #344e41;
}

.cart-table{
  border-color: #a3b18a
}

.cart-table td{
  background-color: #588157;
}
.cart-table th {
    background-color:#a3b18a; 
}

#cartCount {
  min-width: 35px; 
  min-height: 25px;
  display: inline-block; 
  visibility: hidden; 
}

#cartCount.show {
  visibility: visible; 
}

.btn-cart{
  background-color: #344e41;
}

.btn-cart:hover{
  background-color:#3a5a40;
}


/* #dad7cd
#a3b18a
#588157
#3a5a40
#344e41 */