html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.body-custom {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-about {
    flex: 1;
    overflow-x: hidden;
    
}

.main{
    flex: 1;
}

#about-maps{
    background-color: #1c92c0d8;
}

.navbar-custom {
    background-image: linear-gradient(to top, #4bb35c, #3d6829);
  };

  .nav-pills .nav-link {
    color: #ffffff;
  }

  .nav-pills .nav-link:hover {
    background-color: #c0392b ;
  }
  
  .nav-pills .nav-link.active  {
    background-color: #c0392b;
    color: white; 
    font-weight: bold;
  }

  .navbar .navbar-brand {
    height: 40px;
    width: 300px;
  }
  
  .footer-custom {
   
    background-color: rgb(2, 71, 131);
    text-align: center;
    padding: 10px;
    min-height: 300px;
}

.footer-custom-text {
    color: #ffa743;
    overflow: hidden;  
}

.footer-logo {
    width: 318px;
    height: 40px;
}

#cartOffCanvas {
  background-color: rgb(2, 71, 131);
}


.cart-table{
  border-color: rgb(2, 71, 131);
}

.cart-table td, 
.cart-table th {
    background-color: rgba(255, 255, 255, 0.1); 
}

