#welcome h1{
  color: #344e41;
  text-align: center;
  margin: 25px;
}

#card-president {
  background-color: #588157;
  color: #dad7cd;
}

#top-container {
  width: 100%;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}

@media (max-width: 480px) {
  #top-container {
    background-image: none;
    background-color: #a3b18a;
  }
}


@media (min-width: 481px) and (max-width: 768px) {
  #top-container {
    background-image: url('../img/forest-small.avif');
  }

}

@media (min-width: 769px) and (max-width: 1200px) {
  #top-container {
    background-image: url('../img/forest-medium.avif');
  }
}


@media (min-width: 1201px) {
  #top-container {
    background-image: url('../img/forest.avif');
  }
}